<%include ../templates.navbar.ejs%>

<br><br>

<div class="container">

    <script>
        function functionAlert(myYes) {
           document.getElementById('Hide').style.display='block'; 
           var confirmBox = $("#confirm");
           confirmBox.find("#Hide").unbind().click(function() {
              confirmBox.hide();
           });
           confirmBox.find("#Hide").click(myYes);
            confirmBox.show();
        }

        function Checkout_Alert(myYes) {
           document.getElementById('Hide_order').style.display='block'; 
           var confirmBox = $("#confirm_order");
           confirmBox.find("#Hide_order").unbind().click(function() {
              confirmBox.hide();
           });
           confirmBox.find("#Hide_order").click(myYes);
            confirmBox.show();
        }
     </script>

    <!-- <h3 style="color:forestgreen"><i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i> <%= __('Cart') %> <a href="/cart/clear" class="btn btn-warning pull-right"> <%= __('Empty Cart') %> </a></h3> -->
    <hr/>
    <h3 style="color:forestgreen"><i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i> <%= __('Cart') %> 
    
    <button  class="btn btn-warning pull-right" onclick=functionAlert()><%= __('Empty Cart') %></button>
    <div id=confirm>
        <a href="/cart/clear" id="Hide" class="btn btn-warning pull-center" style="display: none; margin-left: 50%; color: white; background-color: green; border-radius: 6px; font-size: 17px; width: 200px; text-align: center;">Confirm Clear Cart</a>
    </div>

    <% if (cart.length <= 0) { %>
    <h3><%= __('Your shopping cart is currently empty') %></h3>
    <% } else { %>
    <div class="row clearfix" id="table_div">
        <div class="col-lg-12">
            <table class="table table-hover" id="table1">
                <thead>
                <tr>

                    <th> <%= __('name') %> </th>
                    <th> <%= __('Price') %> </th>
                    <th> <%= __('Quantity') %> </th>
                    <th> <%= __('total') %> </th>

                    <th></th>
                </tr>
                </thead>
                <tbody>

                <% cart.forEach(function (product){ %>
                <a href="#">
                    <tr data-id="<%= product.id %>">
                        <!--td>{{ loop.index %></td-->
                        <td><%= product.name %></td>
                        <td><%= sails.config.project.currency.symbol %> <%= product.price | 'currency' %></td>
                        <!--td><input class="form-control" type="text" value="<%= product.quantity %>"/></td-->

                        <td>
                            <select  type="text" class="form-control" name="quantity">

                            <option value="1">1</option>
                            <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4 </option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8 </option>
                                <option value="9">9</option>
                                <option value="10">10</option>

                        </select>

                        </td>

                        <td><%= sails.config.project.currency.symbol %><%= (product.price * product.quantity) | 'currency' %></td>

                        <td>
                            <button class="btn btn-xs btn-primary" button-action="apply">APPLY</button>
                            <button class="btn btn-xs btn-danger" button-action="delete">DELETE</button>
                        </td>
                    </tr>
                </a>
                <% }) %>

                <tr>
                    <td colspan="2"><%= __('Sum') %></td>
                    <td><%= total %></td>
                    <td colspan><%= sails.config.project.currency.symbol %><%= summary | 'currency' %></td>
                    <td><a  class="btn btn-success" onclick=Checkout_Alert()><%= __('Order') %></a></td>
                </tr>
                </tbody>
            </table>
            <div id=confirm_order>
                <a id="Hide_order" href="/checkout" class="btn btn-warning pull-center" style="display: none; margin-left: 50%; color: white; background-color: green; border-radius: 6px; font-size: 17px; width: 180px; text-align: center;">Confirm checkout</a>
            </div>
        </div>
    </div>
    <% } %>
</div>


<%- include ../../commun/library.ejs %>


<script type="text/javascript">
    $(document).ready(function () {
        $('[button-action="apply"]').on('click', function () {
            var product_id = $(this).parent().parent().data('id');

            var quantity = $('select[name=quantity]').val();

            $.ajax({
                type: 'PUT',
                url: '/cart/apply/' + product_id + '?quantity=' + quantity,
                success: function (data, status) {
                    window.location = '/cart';
                    return;
                },
                error: function (error) {
                    console.log(error);
                    return;
                }
            });
        });

        // POST DELETE
        $('[button-action="delete"]').on('click', function () {
            if (!confirm('Do you really want to delete this?')) {
                return;
            }

            var product_id = $(this).parent().parent().data('id');

            $.ajax({
                type: 'DELETE',
                url: '/cart/' + product_id,
                success: function (data, status) {
                    alert('Deleted succesfully.');
                    window.location = '/cart';
                    return;
                },
                error: function (error) {
                    console.log(error);
                    return;
                }
            });
        });
    });
</script>

<style>
    #table_div{
        margin-top: 20px;
    }
    
    #table1 th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    
    #table1 td, #table1 th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    </style>
